<div class="mynav">
    <a href="/">
        <div class="navlogo">
            CON FUERZA DE MUJER
        </div>
    </a>

    <div class="navpill">
        <a href="/login">
            <p style="color: var(--orange);">
                INGRESAR
            </p>
        </a>
    </div>
    <div class="navpill">
        <a href="/colaborar">
            <p style="color: var(--orange);">
                COLABORAR
            </p>
        </a>
    </div>
    <div class="navpill">
        <a href="/convocatorias">
            <p style="color: var(--orange);">
                CONVOCATORIAS
            </p>
        </a>
    </div>
    <div class="navpill">
        <a href="/participantes">
            <p style="color: var(--orange);">
                PARTICIPANTES
            </p>
        </a>
    </div>


</div>