<DOCTYPE! HTML>
    <html>

    <head>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"
        />
        <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/public/css/admin.css" />
        <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/css/froala_editor.min.css' rel='stylesheet' type='text/css'
        />
        <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/css/froala_style.min.css' rel='stylesheet' type='text/css'
        />
        <title>Con Fuerza De Mujer</title>

    </head>

    <body>
        {{{body}}}
        <script src="/public/js/jquery.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script src="/public/js/script.js"></script>
        <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/js/froala_editor.min.js'></script>
    </body>



    </html>