<div id="add-convocatoria-modal-wrap">
    <div id="add-convocatoria-modal">
        <form method="POST" action="/admin/addconvocatoria">
            <div id="add-convocatoria-formwrap">
                <div style="grid-area: convocatoria-top" id="convocatoria-top">
                    <div style="grid-area: convocatoria-left">
                        <label for="convocatorianame">
                            Nombre
                        </label>
                        <input type="text" name="convocatorianame">
                        <label for="convocatoriaencargado">
                            Nombre de Encargado
                        </label>
                        <input type="text" name="convocatoriaencargado">
                        <label for="convocatoriacorreo">
                            Correo de Encargado
                        </label>
                        <input type="text" name="convocatoriacorreo">

                    </div>
                    <div style="grid-area: convocatoria-right">
                        <label for="convocatoriaimg">
                            Imagen
                        </label>
                        <input type="file" name="convocatoriaimg">
                        <label for="convocatoriafecha">
                            Fecha
                        </label>
                        <input type="date" name="convocatoriafecha">
                        <label for="convocatoriaubicacion">
                            Ubicacion
                        </label>
                        <input type="text" name="convocatoriaubicacion">
                    </div>
                </div>
                <div style="grid-area: convocatoria-mid">
                    <label for="convocatoriadescription">
                        Descripción
                    </label>
                    <textarea id="froala-editor">

                    </textarea>
                </div>
                <div style="grid-area: convocatoria-bottom">
                    <center>
                        <button id="agrconvocatoria" type="submit" style="width: 75%;">
                            Agregar Convocatoria
                        </button>
                        <a id="closeconvocatoria">
                            Cancelar
                        </a>
                    </center>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="add-student-modal-wrap">
    <div id="add-student-modal">
        <form method="POST" action="/admin/adduser">
            <div id="add-student-formwrap">
                <div id="add-layout" style="grid-area: add-top">
                    <div style="grid-area: student-left">
                        <label for="addname">
                            Nombre
                        </label>
                        <input type="text" name="addname">
                        <label for="addlastname">
                            Apellido
                        </label>
                        <input type="text" name="addlastname">
                        <label for="addbirthdate">
                            Fecha de Nacimiento
                        </label>
                        <input type="date" name="addbirthdate">
                    </div>
                    <div style="grid-area: student-mid">
                        <label for="addemail">
                            Correo
                        </label>
                        <input type="text" name="addemail">
                        <label for="addimg">
                            Imagen
                        </label>
                        <input type="file" name="addimg">
                        <label for="addlocation">
                            Ubicacion (Comuna, Región)
                        </label>
                        <input type="text" name="addlocation">

                    </div>
                    <div style="grid-area: student-right">
                        <label for="addskills">
                            Habilidades
                        </label>
                        <div>
                            <input type="checkbox" name="addskills" value="wordpress">
                            <span style="font-size: 13px;">Wordpress</span>
                        </div>
                        <div>
                            <input type="checkbox" name="addskills" value="excel">
                            <span style="font-size: 13px;">Excel</span>

                        </div>
                        <div>
                            <input type="checkbox" name="addskill" value="azure">
                            <span style="font-size: 13px;">
                                Azure</span>
                        </div>
                    </div>
                </div>

                <div style="grid-area: add-mid; padding: 30px;">
                    <label for="adddescription" style="width: 100%;">
                        Descripción
                    </label>
                    <textarea id="froala-editor" style="width: 100%;">

                    </textarea> </div>

                <div style="grid-area: add-bottom">
                    <center>
                        <button type=" submit " style="width: 80%;background-color: var(--orange); border: 0.5px solid
                        black; ">
                            Agregar
                        </button>
                        <span id="addclose">Cancel</span>
                    </center>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="admin-full-wrap">
    <div style="grid-area: admin-header; background-color: var(--orange) " id="admin-header ">
        <center>
            <h3 style="padding: 30px; font-weight: bold; color: white;">
                <strong>
                    Panel de Control
                </strong>
            </h3>
        </center>
    </div>
    <div style="grid-area: admin-students; background-color: whitesmoke; " id="admin-students ">
        <p style="padding: 10px; padding-left: 30px; padding-bottom: 0px; ">
            <strong>
                <u>
                    Administrar Participantes
                </u>
            </strong>
            <span id="add">
                +
            </span>
        </p>
        <div id="participant-input">
            <!--node JS loop-->
            <div id="participant-labels">
                <div style="grid-area: participant-name">
                    <p>
                        Nombre
                    </p>
                </div>
                <div style="grid-area: participant-lastname">
                    <p>
                        Apellido
                    </p>
                </div>
                <div style="grid-area: participant-email">
                    <p>
                        Correo
                    </p>
                </div>
                <div style="grid-area: participant-skill">
                    <p>
                        Habilidades
                    </p>
                </div>
                <div style="grid-area: participant-edit">
                    <a style="font-align: center;">
                        Acciones
                    </a>
                </div>
            </div>

            {{#each usuario}}
            <div id="individual-participant-wrap">
                <div style="grid-area: indinp-name">
                    <p>
                        {{this.nombre}}
                    </p>
                </div>
                <div style="grid-area: indinp-lastname">
                    <p>
                        {{this.apellido}}
                    </p>
                </div>
                <div style="grid-area: indinp-email">
                    <p>
                        {{this.contacto.correo}}
                    </p>
                </div>
                <div style="grid-area: indinp-skills">
                    <p>
                        {{this.habilidades}}
                    </p>
                </div>
                <div style="grid-area: indinp-input">
                    <a id="indinpinput">
                        Edit
                    </a>
                </div>
            </div>
            {{/each}}


            <!--nodejs repeat-->

        </div>
        <div style="grid-area: admin-convocatorias; background-color: whitesmoke; " id="admin-convocatorias; ">
            <p style="padding: 10px;padding-left: 30px; padding-bottom: 0px; ">
                <strong>
                    <u>
                        Administrar Convocatorias
                    </u>
                </strong>
                <span id="addconvocatoria">
                    +
                </span>
            </p>
            <div id="convocatorias-input">
                <div id="convocatoria-labelwrap">
                    <div style="grid-area: conv-name">
                        <p>
                            Titulo
                        </p>
                    </div>
                    <div style="grid-area: conv-repname">
                        <p>
                            Nombre de Encargado
                        </p>
                    </div>
                    <div style="grid-area: conv-contact">
                        <p>
                            Contacto de Encargado
                        </p>
                    </div>
                    <div style="grid-area: conv-accion">
                        <p>
                            Acciones
                        </p>
                    </div>
                </div>
                <!--nodejs repeat-->
                {{#each convocatoria}}
                <div id="individual-convocatoria-wrap">
                    <div style="grid-area: ininp-name">
                        <p>
                            {{this.nombre}}
                        </p>
                    </div>
                    <div style="grid-area: ininp-repname">
                        <p>
                            {{this.contacto.encargado}}
                        </p>
                    </div>
                    <div style="grid-area: ininp-contact">
                        <p>
                            {{this.contacto.correo}}
                        </p>
                    </div>
                    <div style="grid-area: ininp-accion; font-weight: bold; color: red;">
                        <p>
                            Edit
                        </p>
                    </div>
                </div>
                {{/each}}


            </div>

        </div>
        <div style="grid-area: admin-tbd; " id="admin-tbd">

        </div>
    </div>