<div class="convocatoria-modal-wrap">
    <div class="convocatoria-modal">

    </div>
</div>


<div class="all-convocatorias-wrap" style="background-image:url('/public/img/fotos_cfdm/realback.jpg'); background-size: 100%; background-attachment: fixed;">
    <div class="all-convocatorias-landing" style="grid-area: all-convocatorias-landing; border-bottom: 1px solid var(--orange);">
        <div style="z-index: 30;width: 100%; height: 100%; background-color: rgb(0, 0, 0, 0.5)">
            {{>navbar this}}

            <center style="padding-top: 100px;">
                <p style="font-size: 2em; font-weight: bold; color: white; background-color: rgb(0,0,0,0.6); text-decoration: underline; text-decoration-color: var(--orange)">
                    NUESTRAS CONVOCATORIAS
                </p>
                <p style="font-size: 1.5em; font-weight: bold; color: white; background-color: rgb(0,0,0,0.6); text-decoration: underline; text-decoration-color: var(--orange)">
                    ¡APRENDE CON NOSOTROS!
                </p>
            </center>
        </div>



    </div>
    <div class="container" id="convocatoria-color-switch" style="padding-top: 10px; background-color: rgb(0, 0, 0, 0.7)">
        <div class="all-convocatorias-pill-wrap" style="grid-area: all-convocatorias-pill-wrap">

            <center>
                <p style="color: var(--orange); text-decoration: underline; text-decoration-color: white; background-color: black;">
                    <strong>
                        ACTIVAS
                    </strong>
                </p>
            </center>
            <!--repeat with NODEJS-->
            <div class="convocatoria-individual-activa">
                <center>
                    <p style="padding-top: 10px">
                        <!--{{this.titulo}}-->
                        <strong>
                            Wordpress Avanzado para ECommerce
                        </strong>
                    </p>
                </center>
                <div class="convocatoria-individual-estilo">
                    <div style="grid-area: convocatoria-info-img; height: 150px; margin-top: -10px; background-image: url('/public/img/fotos_cfdm/XOLI5048.jpg'); background-repeat: no-repeat; background-position: center; background-size: 100%">

                    </div>
                    <div style="grid-area: convocatoria-info-description; margin-top: -10px">
                        <p>
                            Alternatively you can disable ESLint for the workspace folder cfdm-working by executing the 'Disable ESLint' command. Alternatively
                            you can disable ESLint for the workspace folder cfdm-working by executing the 'Disable ESLint'
                            command. Alternatively you can disable ESLint for the workspace folder cfdm-working by executing
                            the 'Disable ESLint' command. Alternatively you can disable ESLint for the workspace folder cfdm-working
                            by executing the 'Disable ESLint' command.Alternatively you can disable ESLint for the workspace
                            folder cfdm-working by executing the 'Disable ESLint' command.<a
                                href="convocatorias/individual">
                                conocer mas...
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!--end repetition-->
            <div class="convocatoria-individual-activa">
                <center>
                    <p style="padding-top: 10px">
                        <!--{{this.titulo}}-->
                        <strong>
                            Wordpress Avanzado para ECommerce
                        </strong>
                    </p>
                </center>
                <div class="convocatoria-individual-estilo">
                    <div style="grid-area: convocatoria-info-img; height: 150px; margin-top: -10px; background-image: url('/public/img/fotos_cfdm/XOLI5048.jpg'); background-repeat: no-repeat; background-position: center; background-size: 100%">

                    </div>
                    <div style="grid-area: convocatoria-info-description; margin-top: -10px">
                        <p>
                            Alternatively you can disable ESLint for the workspace folder cfdm-working by executing the 'Disable ESLint' command. Alternatively
                            you can disable ESLint for the workspace folder cfdm-working by executing the 'Disable ESLint'
                            command. Alternatively you can disable ESLint for the workspace folder cfdm-working by executing
                            the 'Disable ESLint' command. Alternatively you can disable ESLint for the workspace folder cfdm-working
                            by executing the 'Disable ESLint' command.Alternatively you can disable ESLint for the workspace
                            folder cfdm-working by executing the 'Disable ESLint' command.<a
                                href="convocatorias/individual">
                                conocer mas...
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="convocatoria-individual-activa">
                <center>
                    <p style="padding-top: 10px">
                        <!--{{this.titulo}}-->
                        <strong>
                            Wordpress Avanzado para ECommerce
                        </strong>
                    </p>
                </center>
                <div class="convocatoria-individual-estilo">
                    <div style="grid-area: convocatoria-info-img; height: 150px; margin-top: -10px; background-image: url('/public/img/fotos_cfdm/XOLI5048.jpg'); background-repeat: no-repeat; background-position: center; background-size: 100%">

                    </div>
                    <div style="grid-area: convocatoria-info-description; margin-top: -10px">
                        <p>
                            Alternatively you can disable ESLint for the workspace folder cfdm-working by executing the 'Disable ESLint' command. Alternatively
                            you can disable ESLint for the workspace folder cfdm-working by executing the 'Disable ESLint'
                            command. Alternatively you can disable ESLint for the workspace folder cfdm-working by executing
                            the 'Disable ESLint' command. Alternatively you can disable ESLint for the workspace folder cfdm-working
                            by executing the 'Disable ESLint' command.Alternatively you can disable ESLint for the workspace
                            folder cfdm-working by executing the 'Disable ESLint' command.<a
                                href="convocatorias/individual">
                                conocer mas...
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <center>
                <p style="padding-top: 10px; color: var(--orange); text-decoration: underline; text-decoration-color: white; background-color: black;">
                    <strong>
                        FINALIZADAS
                    </strong>
                </p>
            </center>
            <!--CHANGE TO TERMINADAS-->
            <div class="convocatoria-individual-activa">
                <center>
                    <p style="padding-top: 10px">
                        <!--{{this.titulo}}-->
                        <strong>
                            Wordpress Avanzado para ECommerce
                        </strong>
                    </p>
                </center>
                <div class="convocatoria-individual-estilo">
                    <div style="grid-area: convocatoria-info-img; height: 150px; margin-top: -10px; background-image: url('/public/img/fotos_cfdm/XOLI5048.jpg'); background-repeat: no-repeat; background-position: center; background-size: 100%">

                    </div>
                    <div style="grid-area: convocatoria-info-description; margin-top: -10px">
                        <p>
                            Alternatively you can disable ESLint for the workspace folder cfdm-working by executing the 'Disable ESLint' command. Alternatively
                            you can disable ESLint for the workspace folder cfdm-working by executing the 'Disable ESLint'
                            command. Alternatively you can disable ESLint for the workspace folder cfdm-working by executing
                            the 'Disable ESLint' command. Alternatively you can disable ESLint for the workspace folder cfdm-working
                            by executing the 'Disable ESLint' command.Alternatively you can disable ESLint for the workspace
                            folder cfdm-working by executing the 'Disable ESLint' command.<a
                                href="convocatorias/individual">
                                conocer mas...
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="convocatoria-individual-activa">
                <center>
                    <p style="padding-top: 10px">
                        <!--{{this.titulo}}-->
                        <strong>
                            Wordpress Avanzado para ECommerce
                        </strong>
                    </p>
                </center>
                <div class="convocatoria-individual-estilo">
                    <div style="grid-area: convocatoria-info-img; height: 150px; margin-top: -10px; background-image: url('/public/img/fotos_cfdm/XOLI5048.jpg'); background-repeat: no-repeat; background-position: center; background-size: 100%">

                    </div>
                    <div style="grid-area: convocatoria-info-description; margin-top: -10px">
                        <p>
                            Alternatively you can disable ESLint for the workspace folder cfdm-working by executing the 'Disable ESLint' command. Alternatively
                            you can disable ESLint for the workspace folder cfdm-working by executing the 'Disable ESLint'
                            command. Alternatively you can disable ESLint for the workspace folder cfdm-working by executing
                            the 'Disable ESLint' command. Alternatively you can disable ESLint for the workspace folder cfdm-working
                            by executing the 'Disable ESLint' command.Alternatively you can disable ESLint for the workspace
                            folder cfdm-working by executing the 'Disable ESLint' command.<a
                                href="convocatorias/individual">
                                conocer mas...
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="convocatoria-individual-activa">
                <center>
                    <p style="padding-top: 10px">
                        <!--{{this.titulo}}-->
                        <strong>
                            Wordpress Avanzado para ECommerce
                        </strong>
                    </p>
                </center>
                <div class="convocatoria-individual-estilo">
                    <div style="grid-area: convocatoria-info-img; height: 150px; margin-top: -10px; background-image: url('/public/img/fotos_cfdm/XOLI5048.jpg'); background-repeat: no-repeat; background-position: center; background-size: 100%">

                    </div>
                    <div style="grid-area: convocatoria-info-description; margin-top: -10px">
                        <p>
                            Alternatively you can disable ESLint for the workspace folder cfdm-working by executing the 'Disable ESLint' command. Alternatively
                            you can disable ESLint for the workspace folder cfdm-working by executing the 'Disable ESLint'
                            command. Alternatively you can disable ESLint for the workspace folder cfdm-working by executing
                            the 'Disable ESLint' command. Alternatively you can disable ESLint for the workspace folder cfdm-working
                            by executing the 'Disable ESLint' command.Alternatively you can disable ESLint for the workspace
                            folder cfdm-working by executing the 'Disable ESLint' command.<a
                                href="convocatorias/individual">
                                conocer mas...
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer this}}
</div>