<div class="convo-general-wrap">
    <div style="grid-area: conv-nav">
        {{>navbar this}}
    </div>
    <div class="convocatoria-individual-wrap" style="grid-area: conv-body">
        <div class="container convocatoria-gridding" style="background-color: white; height: 100%; padding-top: 60px;">
            <div style="grid-area: conv-grid-title">
                <center>

                    <h3 style="color: white;padding: 3px;text-decoration: underline; text-decoration-color: var(--orange); background-color: rgb(0,0,0,0.8); padding-top: 5px; padding-bottom: 5px; margin-left: 30px; margin-right: 30px;">
                        <strong>Wordpress Avanzado para ECommerce</strong>
                    </h3>

                </center>
            </div>
            <div style=" grid-area: conv-grid-information; margin-left: 30px; margin-right: 30px; background-color: rgb(0, 0, 0, 0.8); padding-left: 30px; padding-right: 30px;">
                <p>
                    <div style=" float: left; height: 200px; width: 30%; background-image: url('/public/img/fotos_cfdm/5-1.jpg'); margin-right: 30px; background-size: 100%; ">

                    </div>
                    <span style="background-color: rgb(255,255,255,0.9)">
                        Lorem ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet consectetur, Lorem
                        ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet
                        consectetur, Lorem ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet consectetur, Lorem
                        ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet
                        consectetur, Lorem ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet consectetur, Lorem
                        ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet
                        consectetur, Lorem ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet consectetur, Lorem
                        ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet
                        consectetur,Lorem ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet consectetur, Lorem
                        ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet
                        consectetur, Lorem ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet consectetur,Lorem
                        ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet
                        consectetur, Lorem ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet consectetur, Lorem
                        ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet consectetur,
                    </span>
                </p>
            </div>
            <div style="grid-area: conv-grid-signup; margin-top: 15px; ">
                <center>
                    <h4 style="color: white;text-decoration: underline; text-decoration-color: var(--orange); background-color:
                    rgb(0,0,0,0.8); padding-top: 5px; padding-bottom: 5px; margin-left: 30px; margin-right: 30px; ">
                        <strong>
                            ¡INSCRIBETE AHORA PARA LA PRÓXIMA SESIÓN!
                        </strong>
                    </h4>
                </center>
                <div style="margin-left: 30px; margin-right: 30px; background-color: rgb(0, 0, 0, 0.8); padding: 30px;">
                    <iframe width="100%" height="800px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=ahge8mLe7Uq5Pz9YargUpaBKUkE8hdxMrlwvaL43Hd5UQjgwS0pNVkE1Rlg4RkdLN05BWVM5SkwwVy4u&embed=true "
                        frameborder="0 " marginwidth="0 " marginheight="0 " style="border: none; max-width:100%; max-height:100vh ">
                    </iframe>
                </div>

            </div>
            <div style="grid-area: conv-grid-contact; background-color: white; margin-left: 30px; margin-right: 30px; ">
                <center>
                    <h4 style="text-decoration: underline; text-decoration-color: var(--orange); background-color: rgb(255, 255, 255); margin-left: 30px; margin-right: 30px; margin-top: 10px; color: black; font-weight: bold; padding: 10px; ">
                        CONTACTO
                    </h4>
                </center>
                <center>
                    <p>
                        <strong>
                            Profesor:
                        </strong>
                        Innovacien
                    </p>
                    <p>
                        <strong>
                            Correo:
                        </strong>
                        contacto@innovacien.org
                    </p>
                    <p>
                        <strong>
                            Dirección:
                        </strong>
                        Av. La Dehesa 14200
                    </p>
                </center>


            </div>

        </div>
    </div>
    <div style="grid-area: conv-footer ">
        {{>footer this}}
    </div>
</div>