<div class="all-home-wrap">
    <div class="landing">
        {{>navbar this}}

        <div style="grid-area: cta; color: white; font-weight: bold;">

            <p style="text-align: center;font-size: 3em; background-color: rgb(0, 0, 0, 0.7)">CON FUERZA DE MUJER</p>

            <center>
                <p style="font-size: 1.5em; line-height: 50px; background-color: rgb(0, 0, 0, 0.7">DIGITALIZA TU EMPRENDIMIENTO</p>
            </center>
            <center>
                <a href="#target" style="padding-top: 10px; padding-bottom: 10px; padding-left: 30px; padding-right: 30px;font-weight: bold;  font-size: 14px; background-color: rgb(0, 0, 0, 0.8);">
                    <span style="color: var(--orange); text-decoration: underline; text-decoration-color: white;">
                        ENTRAR A LA PAGINA
                    </span>
                </a>
            </center>
        </div>
    </div>

    <div class="landing-mid" id="target">
        <div class="convocatorias" style="grid-area: convocatorias; padding-top: 35px;">
            <center>
                <strong>
                    <p style="font-size: 1.5em; text-decoration: underline; text-decoration-color: var(--orange)">
                        CONVOCATORIAS
                    </p>
                </strong>
                <div class=" convocatorias-item-wrap ">
                    <!--replace with iteration-->
                    <div class="convocatoria-item-pill ">
                        <strong>
                            <p>WORDPRESS</p>
                        </strong>
                    </div>
                    <!--end iteration-->
                    <div class="convocatoria-item-pill ">
                        <strong>
                            <p>UNITY C#</p>
                        </strong>
                    </div>
                    <div class="convocatoria-item-pill ">
                        <strong>
                            <p>HTML/CSS</p>
                        </strong>
                    </div>
                    <div class="convocatoria-item-pill ">
                        <strong>
                            <p>AZURE CLOUD</p>
                        </strong>
                    </div>


                </div>
            </center>
        </div>
        <div class="convocatoria-image" style="grid-area: convocatoria-image">
            <div style="width: 100%; height: 100%; z-index: 10; background-color: rgb(0, 0, 0, 0.3)">

            </div>
        </div>
        <div class="participantes " style="grid-area: participantes; padding-top: 30px; ">
            <center>
                <strong>
                    <p style="font-size: 1.5em; text-decoration: underline; text-decoration-color: var(--orange)">
                        PARTICIPANTES DESTACADAS
                    </p>
                </strong>
                <!--buscar y repetir "ultimos 5 " con NodeJS-->
                <div class="participant-pill-home-individual ">
                    <p>Nombre Apellido</p>
                    <img src="/public/img/stock.png" style="width: 80%; height: auto;">
                    <p>
                        lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit ametlorem ipsum dolor
                        sit amet
                    </p>
                </div>
                <div class="participant-pill-home-individual ">
                    <p>Nombre Apellido</p>
                    <img src="/public/img/stock.png" style="width: 80%; height: auto;">
                    <p>
                        lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit ametlorem ipsum dolor
                        sit amet
                    </p>
                </div>
                <div class="participant-pill-home-individual ">
                    <p>Nombre Apellido</p>
                    <img src="/public/img/stock.png" style="width: 80%; height: auto;">
                    <p>
                        lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit ametlorem ipsum dolor
                        sit amet
                    </p>
                </div>
                <div class="participant-pill-home-individual ">
                    <p>Nombre Apellido</p>
                    <img src="/public/img/stock.png" style="width: 80%; height: auto;">
                    <p>
                        lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit ametlorem ipsum dolor
                        sit amet
                    </p>
                </div>
                <div class="participant-pill-home-individual ">
                    <p>Nombre Apellido</p>
                    <img src="/public/img/stock.png" style="width: 80%; height: auto;">
                    <p>
                        lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit ametlorem ipsum dolor
                        sit amet
                    </p>
                </div>
            </center>
        </div>
    </div>
    <div class="landing-images">
        <center>
            <h2 style="background-color: rgb(0, 0, 0, 0.5); color: white; text-decoration: underline; text-decoration-color: var(--orange)">
                <strong>
                    DIGITALIZA TU EMPRENDIMIENTO
                </strong>

            </h2>
        </center>
    </div>

    <div class="landing-bottom ">
        <div class="container " style="background-color: white; ">
            <div class="landing-bottom-real ">
                <div class="mision " style="padding-top: 30px; ">
                    <center>
                        <p style=" font-size: 1.5em;text-decoration: underline; text-decoration-color: var(--orange) ">
                            <strong>
                                NUESTRA MISION
                            </strong>
                        </p>
                        <p style="text-align: justify; width: 70%; ">
                            Desde el año 2016 que mujeres entre los 18 y 29 años están siendo beneficiadas por ONG Innovacien a través del programa &quot;Con
                            Fuerza de Mujer: tecnologías para el emprendimiento&quot;, el cual busca capacitar en áreas de
                            emprendimiento, TIC y Ciencias de la Computación a mujeres jóvenes de contextos desfavorables
                            que buscan emprender y ser una fuente de ingreso para sus hogares.
                        </p>
                        <p style="text-align: justify; width: 70%; ">
                            Gracias al financiamiento de la iniciativa global YouthSpark de Microsoft, la cual busca empoderar a las juventudes a través
                            del emprendimiento en el mundo de la tecnología, con el fin de entregar a las jóvenes emprendedoras
                            conocimientos que les permitan potenciar sus negocios o generar nuevas fuentes de ingresos, a
                            través del desarrollo de sitios web, manejo de planillas y de las asesorías en la elaboración
                            de un modelo de negocios innovador.
                        </p>
                    </center>
                </div>
                <div class="uso ">
                    <div style="grid-area: usoarriba ">
                        <center>
                            <p style="font-size: 1.5em;text-decoration: underline; text-decoration-color: var(--orange) ">
                                <strong>
                                    COMO USAR LA PLATAFORMA
                                </strong>
                            </p>
                        </center>
                    </div>
                    <div class="pasos " style="grid-area: usopasos ">
                        <div style="grid-area: paso1; ">
                            <p><strong style="color: var(--orange)">1 </strong>Busca el perfil de emprendedora que búscas</p>
                        </div>
                        <div style="grid-area: paso2; ">
                            <p><strong style="color: var(--orange)">2 </strong>Selecciona a la emprendedora que se acerque
                                más a tus requisitos de búsqueda</p>
                        </div>
                        <div style="grid-area: paso3; ">
                            <p><strong style="color: var(--orange)">3 </strong>Ponte en contacto con la emprendedora o con
                                nuestro equipo</p>
                        </div>
                        <div style="grid-area: paso4; ">
                            <p><strong style="color: var(--orange)">4 </strong>Escanéa el código QR en el certificado virtual
                                de la emprendedora. Si es válido, cualquier cámara de celular te mandará a nuestra página
                                de validación.
                            </p>
                        </div>
                        <div style="grid-area: codigoqr; ">
                            <center>
                                <img src="/public/img/sampleqr.png " style="width: 60%; height: auto ">
                            </center>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    {{>footer this}}
</div>