<div class="login-wrap">
    <div style="grid-area: login-navbar">
        {{>navbar this}}
    </div>
    <div style="grid-area: login-content" class="login-content">
        <div style="background-color: rgb(0,0,0, 0.7); height: 100%; width: 100%;">
            <div style="loginmodal">

            </div>
        </div>
    </div>