<div class="all-participantes-wrap">
    <div class="participantes-banner" style="grid-area: participantes-banner">
        {{>navbar this}}
        <div class="participantes-cta" style="grid-area: participantes-cta">
            <center>
                <p style="font-size: 2em; font-weight: bold; color: white; background-color: rgb(0,0,0,0.6); text-decoration: underline; text-decoration-color: var(--orange)">
                    CON FUERZA DE MUJER
                </p>
                <p style="font-size: 1.5em; font-weight: bold; color: white; background-color: rgb(0,0,0,0.6); text-decoration: underline; text-decoration-color: var(--orange)">
                    NUESTRAS EMPRENDEDORAS
                </p>
            </center>
        </div>
    </div>
    <div class="participant-pill-wrap-out" style="grid-area: participant-pill-wrap-out; ">
        <div class="container" style="background-color: white; padding-top: 35px; padding-bottom: 100px;">
            <!--ADD SCRIPT AND AJAX HERE. IF # EXCEEDS X, CREATE NEW PAGINATION-->
            <div class="participant-pill-wrap">
                <div class="participant-query-bar" style="margin-bottom: 20px;">
                    <!--ajax query form-->
                </div>
                <center>
                    {{#each usuario}}
                    <div class="individual-participant-pill">
                        <div style="grid-area: image-preview; padding: 4px">
                            <center>
                                <img src="/public/img/stock.png" style="height: 130px; width: 100%; border-radius: 3px;">
                            </center>
                        </div>
                        <div style="grid-area: text-preview; padding-left: 4px; padding-right: 4px;">
                            <h6>
                                <strong>
                                    {{this.apellido}}, {{this.nombre}}
                                </strong>
                            </h6>
                            <em>
                                <p style="font-size: 12px;">
                                    {{this.contacto.ubicacion}}Lo Barnechea, RM
                                </p>
                            </em>
                            <img src="/public/img/excel.png" style="height: 15px; width: 15px; display: inline-block;">
                            <img src="/public/img/wordpress.png" style="height: 15px; width: 15px; display: inline-block; margin-left: 3px">
                            <img src="/public/img/excel.png" style="height: 15px; width: 15px; display: inline-block; margin-left: 3px">
                            <img src="/public/img/wordpress.png" style="height: 15px; width: 15px; display: inline-block; margin-left: 3px">
                            <img src="/public/img/excel.png" style="height: 15px; width: 15px; display: inline-block; margin-left: 3px">
                        </div>
                        <div style="grid-area: button-preview; padding: 8px">
                            <a href="/participantes/some_name" style="text-decoration: none; border-radius: 7px; border: 0.5px solid black; padding-top: 3px; padding-bottom: 3px; padding-left: 10px; padding-right: 10px; font-size: 12px;">
                                Conocer mas
                            </a>
                        </div>
                    </div>
                    {{/each}}


                </center>


                <!-- repeat this part with node later-->


            </div>
        </div>
    </div>
    {{>footer this}}
</div>