<div class="perfil-layout" style="background-image: linear-gradient(to top, #232526,#414345)">

    <div style="grid-area: mynavbar">
        {{>navbar this}}
    </div>
    <div style="grid-area: mycontent">
        <div class="container" style="background-color: white; padding-top: 80px; background-image: url('/public/img/fotos_cfdm/pattern.jpg') ">
            <h3 style="color: white; text-decoration: underline; text-decoration-color: var(--orange); background-color: rgb(0, 0, 0, 0.6); padding: 10px;">
                <strong>
                    CAMILA SAAVEDRA
                </strong>
            </h3>
            <div class="perfil-wrap">
                <div class="perfil-info-foto" style="grid-area: perfil-information; padding-right: 30px;">
                    <p style="padding-left: 30px; margin-right: 30px; text-align: justify; display: inline-block;">
                        <div style="margin-right: 20px; margin-bottom: 20px;float: left;width: 30%; height: 200px; grid-area: perfil-imagen; background-image: url('/public/img/stock.png'); background-position: center; background-size: cover; background-repeat: no-repeat; display: inline-block;">
                            <!--make this a style for responsiveness later!-->
                        </div>
                        <span style="color: black;text-decoration: underline; text-decoration-color: var(--orange); background-color: white;">
                            Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem
                            ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit
                            amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur
                            Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor
                            sit amet, consectetur Lorem ipsum dolor sit amet, consecteturLorem ipsum dolor sit amet, consectetur
                            Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor
                            sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consecteturLorem
                        </span>
                    </p>


                </div>
                <div style="grid-area: habilidades;  background-color: rgb(0, 0, 0, 0.8); padding: 5px;">
                    <h6 style="color: white;">
                        <strong style="text-decoration: underline; text-decoration-color: var(--orange)">
                            <center> MIS HABILIDADES</center>

                        </strong>
                    </h6>
                    <!--USE NODEJS TO FIND ALL SKILLS AND MATCH ICONS-->
                    <div class=" habilidad-wrap ">
                        <center>
                            <div style="background-color: white;">
                                <img src="/public/img/excel.png " style="height: 30px; width: 30px; margin-right: 5px;">
                                <img src="/public/img/wordpress.png " style="height: 30px; width: 30px; margin-right: 5px;">
                                <img src="/public/img/excel.png " style="height: 30px; width: 30px; margin-right: 5px;">
                                <img src="/public/img/wordpress.png " style="height: 30px; width: 30p; margin-right: 5px;">
                                <img src="/public/img/excel.png " style="height: 30px; width: 30px; margin-right: 5px; ">
                                <img src="/public/img/wordpress.png " style="height: 30px; width: 30px; margin-right: 5px; ">
                                <img src="/public/img/excel.png " style="height: 30px; width: 30px; margin-right: 5px;">
                                <img src="/public/img/wordpress.png " style="height: 30px; width: 30px; margin-right: 5px;">
                            </div>
                        </center>


                    </div>
                </div>
                <div style="grid-area: perfil-contacto;" class="perfil-contacto">
                    <h6>
                        <strong style="text-decoration: underline; text-decoration-color: var(--orange); color: white;">
                            CONTACTO
                        </strong>
                    </h6>
                    <div style="background-color: white">
                        <div class=" icono-contacto ">
                            <img src="/public/img/email.svg " style="height: 20px; width: 20px; ">
                            <p style="display: inline-block; ">
                                contacto@innovacien.org
                            </p>
                        </div>
                        <div class="icono-contacto ">
                            <img src="/public/img/phone.png " style="width: 20px; height: 20px; ">
                            <p style="display: inline-block; ">
                                +56 9 1234 5678
                            </p>
                        </div>
                    </div>
                </div>
                <!--if signed in, display individual download-->
                <div style="margin-bottom: 30px;grid-area: perfil-download; background-color: rgb(0,0,0,0.8); padding: 3px;">
                    <center>
                        <h6 style="color: white; font-weight: bold; text-decoration: underline; text-decoration-color: var(--orange)">¡DESCARGA
                            TU CERTIFICADO AQUÍ!
                        </h6>
                    </center>
                    <div style="background-color: white; padding: 30px;">
                        <center>
                            <a type="submit" onclick="window.open('file.doc')" style="padding: 10px;background-color: var(--orange); border-radius: 20px; border: 2px solid black;">
                                Descargar certificado
                            </a>

                        </center>

                    </div>

                </div>
                <!--end individual-->
            </div>
        </div>
    </div>
    <div style="grid-area: myfooter">
        {{>footer this}}
    </div>
</div>