:root{
    --orange : #E26B35;
}

.admin-full-wrap{
    width: 100%;
    height: 800px;
    background-color: black;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 'admin-header'
                         'admin-students'
                         'admin-convocatorias'
                         'admin-tbd';
}

#admin-convocatorias{
    height: 300px;
}

#admin-header{
    padding: 30px;
    background-color: red;
}

#admin-students{
    height: 300px;
}

#participant-input, #convocatorias-input{
    height: 400px;
    background-color: white;
    width: 100%;
    overflow-y: scroll;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-right: 10px;
}

#individual-participant-wrap{
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    padding-top: 5px;
    height: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 15% 30% 20% 20%;
    grid-template-areas: 'indinp-name indinp-lastname indinp-email indinp-skills indinp-input';
}

#individual-participant-wrap:nth-child(odd){
    background-color: white;
}

#indinpinput{
    font-weight: bold;
    color: red;
}

#indinpinput:hover{
    cursor: pointer;
    text-decoration: underline;
}

#individual-convocatoria-wrap{
    background-color: whitesmoke;
    font-size: 12px;
    padding-top: 5px;
    height: 30px;
    width: 100%;
    display: grid; 
    grid-template-columns: 25% 25% 25% 25%;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-areas: 'ininp-name ininp-repname ininp-contact ininp-accion';
}

#individual-convocatoria-wrap:nth-child(even){
    background-color: white;
}

#convocatoria-labelwrap{
    height: 30px;
    background-color: var(--orange);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: 'conv-name conv-repname conv-contact conv-accion';
    padding-left: 10px;
    padding-right: 10px;
    font-size:12px;
    font-weight: bold; 
    padding-top: 5px;
}

.tool-bar-pill{
    color: black;
    font-weight: bold;
}

.main-admin-content{
    background-color: red;
    grid-template-rows:  'convocatorias'
                                         'testimonios'
                                         'participantes';
}


#participant-labels{
    height: 30px;
    background-color: var(--orange);
    display: grid;
    grid-template-columns: 15% 15% 30% 20% 20%;
    grid-template-areas: 'participant-name participant-lastname participant-email participant-skill participant-edit';
    font-size: 12px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

#add-student-modal-wrap, #add-convocatoria-modal-wrap{
    height: auto;
    min-height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.4);
    display: none;
}

#add-student-modal{
    width: 80%;
    padding: 10px;
    height: auto;
    margin-top: 5%;
    background-color: white;
    margin-left: 10%;
}

#add-layout{
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'student-left student-mid student-right';
    padding: 30px;
}

#add-student-formwrap{
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 5fr 0.5fr;
    grid-template-areas: 'add-top'
                         'add-mid'
                         'add-bottom';
}

#add-layout label{
    width: 100%;
    font-weight: bold;
    font-size: 13px;
    margin-top: 15px;
}

#add-layout input{
    font-size: 13px;
}

#add, #addconvocatoria{
    font-weight: bold;
    color: var(--orange);
    cursor: pointer;
}

#addclose{
    width: 20%; 
    text-align: center; 
    font-weight: bold; 
    background-color: red; 
    border: 0.5px solid black; 
    padding: 5px;
}

#addclose:hover, #add:hover, #addconvocatoria:hover{
    cursor: pointer;
}

#add-convocatoria-formwrap{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'convocatoria-top'
                         'convocatoria-mid'
                         'convocatoria-bottom';    
    grid-row-gap: 15px;             
}

#convocatoria-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'convocatoria-left convocatoria-right';
}

#add-convocatoria-formwrap label{
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}

#add-convocatoria-formwrap{
    padding: 30px;
}

#add-convocatoria-formwrap input{
    font-size: 13px;
}

#add-convocatoria-modal{
    width: 60%;
    height: auto;
    margin-top: 5%;
    background-color: white;
    margin-left: 20%;
    max-height: 600px;
}

#agrconvocatoria{
    background-color: var(--orange);
    border: 0.5px solid black;
    font-weight: bold;
    width: 85%;
}

#agrconvocatoria:hover{
    cursor: pointer;
}

#closeconvocatoria{
    background-color: red;
    font-weight: bold;
    width: 15%;
    display: inline-block;
    text-align: center;
    border: 0.5px solid black;
}

#closeconvocatoria:hover{
    cursor: pointer;
}