*{
    outline: 0;
    margin: 0;
    padding: 0;
    font-family: Lato;
}

html{
    min-height: 100%;
}

:root{
    --gray: #464646;
    --orange: rgb(226,107,53);
}
@font-face{
    font-family: 'Lato';
    src: url('/public/fonts/Lato-Regular.ttf')
}

@font-face{
    font-family: 'LatoBold';
    src: url('/public/fonts/Lato-Bold.ttf')
}

.mynav{
    height: 40px;
    grid-area: navbar;
    position: fixed;
    width: 100%;
    color: var(--orange);
    background-color: rgb(0,0,0,0.8);
    grid-template-columns: auto fr 40%;
    grid-template-areas: 'nav-logo empty nav-pills'
}

.navlogo{
    grid-area: 'nav-logo';
    display: inline-block;
    margin-top: 5px;
    margin-left: 30px;
    color: var(--orange);

}

.navpill{
    grid-area: 'nav-pills';
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-top: 5px;
}
.all-home-wrap{
    display: grid;
    grid-template-rows:  800px auto 200px auto 80px;
    grid-template-areas: 'home-landing'
                         'home-mid'
                         'home-images'
                         'home-bottom'
                         'footer';
}

.landing-images{
    grid-area: 'home-images';
    background-image: url('/public/img/fotos_cfdm/Imagen 160.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    padding-top: 80px; 
}

.landing{
    grid-area: 'home-landing';
    width: 100%;
    height: 100%;
    background-image: url('/public/img/fotos_cfdm/highdefland.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: grid;
    grid-template-rows: 33% 1fr 33%;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: 'navbar   navbar navbar'
                        'mid-left cta    mid-right'
                        'bot-left bot-mid bot-right'
}

.landing-mid{
    grid-area: 'home-mid';
    display: grid;
    grid-template-rows: 230px 200px 450px;
    grid-template-areas: 'convocatorias'
                         'convocatoria-image'
                         'participantes';
}

.convocatorias{
    background-color: whitesmoke;
}
.convocatoria-image{
    background-image: url('/public/img/fotos_cfdm/editeun.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.participantes{
    background-color: whitesmoke;
}

.participant-pill-home-individual{
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 18%;
    border: 0.5px solid gray;
    background-color: white;
    height: 357px;
    display: inline-block;
    margin-left: 2px; 
    margin-right: 2px;
}

.participant-pill-home-individual:hover{
   background-color: whitesmoke;
   cursor: pointer;
}


.landing-bottom{
    grid-area: 'home-bottom';
    width: 100%;
    height: auto;
    background-image: linear-gradient(to top, #232526,#414345) ;
}



.convocatoria-item-pill{
    background-color: white;
    height: 70%;
    width: 170px;
    margin-left: 1px;
    margin-right: 1px;
    display: inline-block;
    border: 2px solid whitesmoke;
    font-size: 12px;
    padding: 10px;
    border: 0.5px solid gray;
}





.uso{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 'usoarriba'
                         'usopasos';
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    border-top: 1px solid #E26B35;
}

.pasos{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-areas: 'paso1 paso3 codigoqr'
                         'paso2 paso4 codigoqr';
}

.all-participantes-wrap{
    display: grid;
    grid-template-rows: 293px 1fr 80px;
    grid-template-areas: 'participantes-banner'
                         'participant-pill-wrap-out'
                         'footer';
                         background-image: linear-gradient(to left, #232526,#414345)
}
.participantes-banner{
    background-image: url('/public/img/stock.png');
    background-repeat: no-repeat;
    background-position-y: 20%;
    background-size: cover;
    display: grid;
    grid-template-rows: auto 20% 40%;
    grid-template-areas: 'navbar'
                         'participantes-cta'
                         'empty';
}

.participant-pill-wrap-out{
    background-color: rgb(0, 0, 0, 0.5);
    grid-area: 'participant-pill-wrap-out';
}

.all-convocatorias-landing{
    background-image: url('/public/img/fotos_cfdm/convocatoriabanner.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.all-convocatorias-wrap{
    display: grid;
    background-image: linear-gradient(to right, #232526,#414345);
    grid-template-rows: 293px auto 80px;
    grid-template-areas: 'all-convocatorias-landing'
                         'all-convocatorias-pill-wrap'
                        'footer';
}



.footer{
    background-color: #E26B35;
    display: grid;
    grid-template-rows: 30px auto 30px;
    grid-template-areas: 'footer-top'
                         'footer-content'
                         'footer-bottom';
}

.participant-query-bar{
    height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: whitesmoke;
    border: 1px solid gray;
}

.individual-participant-pill{
    border-radius: 10px;
    border: 0.5px solid gray;
    height: 290px;
    width: 23%;
    display: inline-grid;
    grid-template-rows: 130px 100px 40px;
    grid-row-gap: 10px;
    grid-template-areas: 'image-preview'
                         'text-preview'
                         'button-preview';
    padding: 4px;


}

.perfil-wrap{
    width: 100%;
    display: grid;
    grid-row-gap: 50px;
    grid-template-rows: auto auto  auto auto;
    grid-template-areas: 'perfil-information'  
                        'habilidades'              
                          'perfil-contacto'
                          'perfil-download'
}

.perfil-layout{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'mynavbar'
                         'mycontent'
                         'myfooter';
}
.perfil-info-foto{
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.8);
}

.perfil-contacto{
    background-color: rgb(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.habilidad-wrap{

    padding-bottom: 10px;
}

.icono-contacto{
    display: inline-block;
    margin-right: 30px;
    padding-top: 10px;
}

.individual-convocatoria{
    height: auto;
    width: 100%;
    background-color: whitesmoke;
    border: 0.5px solid black;
    padding: 10px;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-column-gap: 20px;
    grid-template-areas: 'convocatoriaimg convocatoriainfo'
}

.convocatoria-modal-wrap{
    display: none;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    z-index: 2;
}

.convocatoria-modal{
    grid-area: 'modal-mc';
    height: 450px;
    width: 800px;
    background-color: whitesmoke;
    margin-top: 15%;
    margin-left: 20%;
    border-radius: 10px;
    border: 0.5px solid gray;
}

.convocatoria-individual-activa{
    height: 200px;
    width: 100%;
    background-color: rgb(255,255,255,0.95);
    padding-left: 30px;
    padding-right: 30px;
}

.convocatoria-individual-activa:nth-child(even){
    background-color: rgb(235, 235, 235, 0.95);
}

.convocatoria-individual-wrap{
    background-image: linear-gradient(to top, #232526,#414345);
    height: 100%;
    width: 100%;
}

.convocatoria-individual-activa .convocatoria-individual-estilo{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 20px;
    grid-template-rows: 100%;
    grid-template-areas: 'convocatoria-info-img convocatoria-info-description';
}

.convocatoria-individual-activa:nth-child(odd) .convocatoria-individual-estilo{
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-column-gap: 20px;
    grid-template-rows: 100%;
    grid-template-areas: ' convocatoria-info-description convocatoria-info-img';
}

.convocatoria-gridding{
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: 'conv-grid-title'
                         'conv-grid-information'
                         'conv-grid-signup'
                         'conv-grid-contact';
}

.convo-general-wrap{
    display: grid;
    grid-template-rows: auto auto 80px;
    grid-template-areas: 'conv-nav'
                         'conv-body'
                         'conv-footer';
}


/*NAVBAR TESTING*/
.nav-collapse-icon{
    display: none;
}



/*LOGIN*/
.login-wrap{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'login-navbar'
                         'login-content'
}

.login-content{
    padding-top: 40px;
    background-image: url('/public/img/fotos_cfdm/highdefland.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}